<html>
    <head>
        <style>
            {{ styles }}
        </style>
        <script>
            const callGraph = {{ callGraph }};
        </script>
    </head>

    <body>
        <div id="app">
            <navigation></navigation>
            <line-graph 
                v-bind:data="callGraph"
                v-if="currentGraph === 'line'">
            </line-graph>
            <trace-graph
                v-bind:data="callGraph"
                v-if="currentGraph === 'trace'">
            </trace-graph>
            <additional-information>
            </additional-information>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>{{ appCode }}</script>
    </body>
</html>