
.row-entry {
    position: absolute;
    height: 35px;
    background: red;
    width: auto;
    z-index: 10;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.row-entry:hover {
    margin-top: -1px;
    border: solid black 1px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
}

.row-entry.selected {
    margin-top: -1px;
    border: solid orangered 1px;
    border-right: solid orangered 2px;
    border-bottom: solid orangered 2px;
}

.row-title {
    font-family: system-ui, Arial;
    text-align: center;
    height: 100%;
    vertical-align: initial;
    display: inline-block;
    line-height: 35px;
    overflow: hidden;
    color: black;
    font-weight: bold;
    overflow: hidden;
    height: 35px;
    font-size: 12px;
}

.row {
    height: 37px;
    background: gainsboro;
    position: relative;
}

.row-wrapper {
    display: grid;
    grid-template-columns: 12rem 1fr;
}
