.additional-information {
    display: none;
    width: 300px;
    height: auto;
    font-family: system-ui, Arial;
    background-color: lightgrey;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
}

#zoom-information {
    background: lightgray;
    padding: 0.3rem;
}

body {
    margin: 0;
}

#navigation {
    height: 2rem;
    width: 100%;
    display: flex;
}

#zoom-information span {
    vertical-align: middle;
}

.additional-information .close {
    position: absolute;
    right: 5px;
    top: 5px;
}

.additional-information .close:hover {
    cursor: pointer;
}

.additional-information .context {
    border-radius: 8px;
    background-color: lightgrey;
}


.additional-information .data-entry {
    display: grid;
    grid-template-columns: 130px 1fr;
}

